<html>
  <head>
    <title>Ideas para TIPs</title>
     <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- inject:js -->
    <script src="javascripts/external/dependencies.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/modules/services/activities.js"></script>
    <script src="javascripts/modules/services/assignments.js"></script>
    <script src="javascripts/modules/services/auth.js"></script>
    <script src="javascripts/modules/services/ideas.js"></script>
    <script src="javascripts/modules/services/users.js"></script>
    <script src="javascripts/modules/controllers/ActivitiesCtrl.js"></script>
    <script src="javascripts/modules/controllers/AssignmentCtrl.js"></script>
    <script src="javascripts/modules/controllers/AuthCtrl.js"></script>
    <script src="javascripts/modules/controllers/IdeasCtrl.js"></script>
    <script src="javascripts/modules/controllers/MainCtrl.js"></script>
    <script src="javascripts/modules/controllers/NavCtrl.js"></script>
    <script src="javascripts/modules/controllers/PendingIdeasCtrl.js"></script>
    <!-- endinject -->
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="tpTips">
    <div ng-controller="NavCtrl">

      <nav class="navbar navbar-default pull-right">
        <ul class="nav navbar-nav">
          <li ng-show="isLoggedIn()"><a>{{ currentUser().username }}</a></li>
          <li ng-show="isLoggedIn()"><a>{{ currentUser().roles }}</a></li>
          <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>

        </ul>
      </nav>

      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#/home">Inicio</a></li>
          <li role="presentation"><a href="#/activities">Actividad reciente</a></li>
          <li role="presentation" ng-show="isDirector()"><a href="#/pending_ideas">Pendientes de revisión</a></li>
          <li role="presentation" ng-show="isDirector()"><a href="#/assignments">Materias</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
