<html>
  <head>
    <title>Flapper News</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    
    <script src="moment.min.js"></script>
    <script src="angular-moment.min.js"></script>

    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="tpTips">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>

      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>        
      </div>
    </div>
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Ideas para TIPs</h1>
      </div>
      
      <span style="font-size:20px; margin-left:10px;">
          <a href="#/activities">Actividades</a>
      </span>


      <a href="#/pending_ideas">Ver Tareas Pendientes</a>

      <div ng-repeat="idea in ideas | orderBy:orderProperty">        
        <span style="font-size:20px; margin-left:10px;">
          <a href="#/ideas/{{idea._id}}">{{idea.title}}</a>
        </span>
        <span>
          propuesta por <a>{{idea.author}}</a>
        </span>

        <span am-time-ago=idea.creationDate></span>
        <label ng-show="acceptPostulant(idea)" class="label label-primary">Disponible</label>
        <label ng-show="inReview(idea)" class="label label-info">En Revision</label>
        <label ng-show="wasAccepted(idea)" class="label label-success">Aceptada</label>
        <label ng-show="wasRejected(idea)" class="label label-danger">Rechazada</label>  

      </div>
      <form ng-submit="addIdea()" ng-show="isLoggedIn()" style="margin-top:30px;">
        <h3>Agregar nueva idea </h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Título"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Descripción"
          ng-model="description"></input>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3>Te tenes que <a href="/#/login">Logear</a> o <a href="/#/register">Registrarte</a> antes de agregar una idea.</h3>
      </div>
    </script>

    <script type="text/ng-template" id="/ideas.html">
      <div class="page-header">
        <h3>
          {{idea.title}}          
        </h3>
        propuesta por <a>{{idea.author}}</a>
      </div>
        <p>
          {{idea.description}}
        </p>
      <div ng-show="isLoggedIn()">
          <button ng-show="acceptPostulant()" class="btn-primary" ng-click="postulate()">Postularme</button>
          <br/>
          <button ng-show="canDelete()" class="btn-primary" ng-click="delete()">Eliminar</button>
      </div>  
      <button type="submit" ng-click="backToHome()">Volver</button>
    </script>

    <script type="text/ng-template" id="/pending_ideas.html">
      <div class="page-header">
        <h1>Ideas pendientes de revision</h1>
      </div>
      <div ng-repeat="idea in ideas | orderBy:orderProperty">        
        <span style="font-size:20px; margin-left:10px;">
          <a href="#/ideas/{{idea._id}}">{{idea.title}}</a>
        </span>
        <span>
          propuesta por <a>{{idea.author}}</a>
        </span>
        <span am-time-ago=idea.creationDate></span>
        <span ng-show="isLoggedIn()">
          <button class="btn-success" ng-click="acceptIdea(idea)">Aceptar idea</button>
          <button class="btn-danger" ng-click="rejectIdea(idea)">Rechazar idea</button>
        </span>      
      </div>
      <button type="submit" ng-click="backToHome()">Volver</button>      
      <div ng-hide="isLoggedIn()">
        <h3>Debe <a href="/#/login">Ingresar</a> o <a href="/#/register">Registrarse</a> para poder usar esa funcion</h3>
      </div>
    </script>

    <script type="text/ng-template" id="/activities.html">
      <div class="page-header">
        <h1>Últimas actividades</h1>
      </div>
      
      <div ng-repeat="act in activities | orderBy:'-creationDate'">        
        <span style="font-size:20px; margin-left:10px;">
          <h4><b>{{act.user}}</b> {{act.action}}: "{{act.target}}"</h4>
        </span>
        <span am-time-ago=act.creationDate></span>
      </div>
    </script>

    <script type="text/ng-template" id="/posts.html">

      <div class="page-header">
        <h1>Últimas actividades</h1>
      </div>
      
      <div ng-repeat="act in activities | orderBy:'-creationDate'">        
        <span style="font-size:20px; margin-left:10px;">
          <h4><b>{{act.user}}</b> {{act.action}}: "{{act.target}}"</h4>
        </span>
        <span am-time-ago=act.creationDate></span>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()"
        style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </script> 

    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script> 
  </body>
</html>